Dictionary are the key value pair

dname= {key1:value1,key2:value2,key2:value3}

In [1]:
d1={'id':200,'name':'Niladri','age':19}

In [2]:
d1

{'id': 200, 'name': 'Niladri', 'age': 19}

In [3]:
d1.keys()

dict_keys(['id', 'name', 'age'])

In [4]:
d1.values()

dict_values([200, 'Niladri', 19])

In [5]:
d1.items()

dict_items([('id', 200), ('name', 'Niladri'), ('age', 19)])

In [6]:
d1['id']

200

In [7]:
d1['age']

19

In [8]:
d1['name']

'Niladri'

In [16]:
d1['age']=22

In [17]:
d1

{'id': 200, 'name': 'Niladri', 'age': 22, 'Fees': 50000}

In [18]:
d1.update({'Fees':50000})

In [19]:
d1

{'id': 200, 'name': 'Niladri', 'age': 22, 'Fees': 50000}

In [20]:
d1.pop('age')

22

In [21]:
d1

{'id': 200, 'name': 'Niladri', 'Fees': 50000}

In [22]:
d1.clear()

In [23]:
d1

{}

In [24]:
del d1

In [25]:
d1

NameError: name 'd1' is not defined

In [28]:
d2={'id':[1,2,3],'Name':['john','jack','monalisa'],'age':[10,20,30]}

In [29]:
d2

{'id': [1, 2, 3], 'Name': ['john', 'jack', 'monalisa'], 'age': [10, 20, 30]}

In [31]:
d2.values()

dict_values([[1, 2, 3], ['john', 'jack', 'monalisa'], [10, 20, 30]])

In [32]:
d2['id']

[1, 2, 3]

In [33]:
d2['age']

[10, 20, 30]

In [37]:
d2['Name']

['john', 'jack', 'monalisa']

In [38]:
d2['id'][1]

2

In [39]:
d2['Name'][2]=['smriti']

In [41]:
d2['Name']

['john', 'jack', ['smriti']]

# dictionary is Mutable